<script setup>
import { ref } from "vue";
import { getPuzzles } from "@/api/puzzler";
import PuzzleItem from "@/components/PuzzleItem";
import UploadPuzzle from "@/components/UploadPuzzle";

const puzzles = ref([]);

const getAll = async () => {
  puzzles.value = await getPuzzles();
  console.log("ahoj")
};

getAll();
</script>

<template>
  <div class="home">
    <div class="puzzle-list">
      <puzzle-item v-for="puzzle in puzzles" :key="puzzle" :name="puzzle" />
    </div>
    <upload-puzzle @onUpload="getAll" />
  </div>
</template>


<style scoped>
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.puzzle-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
</style>