<script setup>
import { watch, getCurrentInstance, computed } from "vue";
import { useRoute } from "vue-router";
import { mintTileNft, mintPuzzleNft, PUZZLER_BACKEND } from "@/api/puzzler";
import { usePuzzlerStore } from "@/store";
import { storeToRefs } from "pinia";

const router = useRoute();
const puzzleName = router.params.name;
const store = usePuzzlerStore();
const { myPuzzles } = storeToRefs(store);
const instance = getCurrentInstance();

const mintNewTile = async () => {
  await mintTileNft(store.workspace, puzzleName);
};

const mintFullPuzzle = async () => {
  await mintPuzzleNft(store.workspace, puzzleName);
};

const getTileUrl = (index) => {
  return PUZZLER_BACKEND + "api/Puzzle/" + puzzleName + "/" + index;
};

const isOwnedTile = (index) => {
  return myPuzzles.value
    .filter((n) => n.collection.name == puzzleName)
    .some((tile) => tile.attributes[0].value == index);
};

const userHaveFullCollection = computed(() => {
  for (let i = 0; i < 9; i++) {
    if (
      !myPuzzles.value
        .filter((n) => n.collection.name == puzzleName)
        .some((tile) => tile.attributes[0].value == i.toString())
    ) {
      return false;
    }
  }
  return true;
});

watch(myPuzzles, (prev, curr) => {
  prev = curr;
  console.log("refresh view");

  instance?.proxy?.$forceUpdate();
});
</script>

<template>
  <h3>{{ puzzleName }}</h3>
  <div class="container">
    <div v-for="i in 9" :key="i">
      <img
        :src="getTileUrl(i - 1)"
        :class="{ transparent: !isOwnedTile(i - 1) }"
      />
    </div>
  </div>
  <button :disabled="!userHaveFullCollection" @click="mintFullPuzzle">
    Mint full image
  </button>
  <button @click="mintNewTile">Mint puzzle</button>
</template>

<style scoped>
.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  width: 50%;
}

.container div img {
  width: 100%;
}

.transparent {
  opacity: 0.1;
}
</style>