<script setup>
import { PUZZLER_BACKEND } from "@/api/puzzler";

const props = defineProps({
  name: String,
});
</script>

<template>
  <router-link class="puzzle-item card" :to="'/puzzle/' + props.name">
    <img :src="PUZZLER_BACKEND + 'api/Puzzle/' + props.name" />
    <h4>{{ props.name }}</h4>
  </router-link>
</template>

<style scoped>
.puzzle-item {
  width: 250px;
}

.card {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

img {
  max-width: 100%;
}
</style>