<script setup>
import { ref } from "vue";
import { uploadPuzzle } from "@/api/puzzler";

const puzzleName = ref("");
const emit = defineEmits(["onUpload"]);

const upload = async () => {
  var imagefile = document.querySelector("#puzzleImage").files[0];
  await uploadPuzzle(imagefile, puzzleName.value);
  setTimeout(() => {
    emit("onUpload");
  }, 500);
};
</script>

<template>
  <input type="file" id="puzzleImage" />
  <input type="text" v-model="puzzleName" placeholder="Puzzle name" />
  <button @click="upload">Upload</button>
</template>
