<script setup>
import { storeToRefs } from "pinia";
import { initWorkspace, autoRefresh, refresh } from "@/composables";
import { usePuzzlerStore } from "@/store";
import { watch } from "vue";

const store = usePuzzlerStore();

const { isConnected } = storeToRefs(store);

watch(isConnected, (pre, curr) => {
  pre = curr;
  if (isConnected.value) {
    refresh(store);
  }
});

initWorkspace(store);
autoRefresh(store);
</script>

<template>
  <div></div>
</template>
